.img-full-width {
    height: 75vh;

    @media (max-width: $md2+px) {
        height: 38.4rem;
    }
    &__inner {
        overflow: hidden;
        top: 0;
        height: 100%;

    }
}

body:not(.mobile) {
    & .img-full-width__inner {
        & img[data-speed] {
            height: 140%;
            top: auto;
            bottom: 0;
        }
    }
}
