.text-parallax {
    position: relative;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        max-height: 100%;
        z-index: 1 !important;
        pointer-events: none;

        & video, & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }
    }

    &__cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        max-height: 100%;
        z-index: 3 !important;
        pointer-events: none;

        &:after {
            position: absolute;
            content: "";
            top: -2px;
            left: 0;
            width: 100%;
            height: 30%;
            z-index: 2;
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
            background: -moz-linear-gradient(
                top,
                rgba(#FCFCFC, 1) 0%,
                rgba(#FCFCFC, 0) 100%
            ); /* FF3.6-15 */
            background: -webkit-linear-gradient(
                top,
                rgba(#FCFCFC, 1) 0%,
                rgba(#FCFCFC, 0) 100%
            ); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(
                to bottom,
                rgba(#FCFCFC, 1) 0%,
                rgba(#FCFCFC, 0) 100%
            ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            //background-color: red;
            
        }

        &:before {
            position: absolute;
            content: "";
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 45%;
            z-index: 2;
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
            background: -moz-linear-gradient(
                top,
                rgba(#FCFCFC, 0) 0%,
                rgba(#FCFCFC, 1) 100%
            ); /* FF3.6-15 */
            background: -webkit-linear-gradient(
                top,
                rgba(#FCFCFC, 0) 0%,
                rgba(#FCFCFC, 1) 100%
            ); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(
                to bottom,
                rgba(#FCFCFC, 0) 0%,
                rgba(#FCFCFC, 1) 100%
            ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            //background-color: red;
        }

        @media (max-width: $md2+px) {
            &::before, &::after {
                display: none;
            }
        }
    }

    &__body {
        position: relative;
        z-index: 2;
        padding-top: 20vh;
        padding-bottom: 25vh;

        @media (max-width: $md2+px) {
            padding-top: 0;
            padding-bottom: 8rem;
        }
    }

    &--has-video {
        & .text-parallax__cover {
            display: none;
        }
    }

    &--second {
        & .text-parallax__cover {
            
            &::before, &::after {
                opacity: 0.8;
            }
        }
    }
}
