<footer class="footer">
    <div class="container">
        <div class="footer__row-1">
            <div class="footer__col">
                <div class="footer__text text-3">
                    <div class="footer__address">
                        VisionLink GmbH, <br> Wächlenstrasse 5, 8832 Wollerau
                    </div>
                    <a href="#" class="footer__phone">
                        +41 78 732 21 09,
                    </a>
                    <a href="#" class="footer__eamil">hello@it-vision.ch</a>
                    <a href="#" class="footer__link" data-hover-text="Let’s talk"><span>Let’s talk</span></a>
                </div>
            </div>
            <div class="footer__col">
                <ul class="footer__list">
                    <li>
                        <a href="#" class="footer__link" data-hover-text="Works">
                            <span>Works</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <ul class="footer__list">
                    <li>
                        <a href="#" class="footer__link" data-hover-text="Products">
                            <span>Products</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="footer__link" data-hover-text="Services">
                            <span>Services</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="footer__link" data-hover-text="Methods">
                            <span>Methods</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="footer__link" data-hover-text="AI">
                            <span>AI</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <ul class="footer__list">
                    <li>
                        <a href="#" class="footer__link" data-hover-text="About">
                            <span>About</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="footer__link" data-hover-text="Contacts">
                            <span>Contacts</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <ul class="footer__list">
                    <li>
                        <a href="#" class="footer__link" data-hover-text="Insights">
                            <span>Insights</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__row-2">
            <div class="footer__label" data-footer-label>
                Made with love in Switzerland
            </div>
        </div>
        <div class="footer__row-3 text-4">
            <div class="footer__col">
                <div class="footer__copy">©2023 by VisionLink GmbH</div>
            </div>
            <div class="footer__col">
                <ul class="footer__social social">
                    <li>
                        <a href="#">
                            <img src="img/icons/instagram.svg" alt="" class="img-svg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/icons/linkedin.svg" alt="" class="img-svg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/icons/be.svg" alt="" class="img-svg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/icons/ball.svg" alt="" class="img-svg">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <a href="#" class="footer__link" data-hover-text="Terms&Conditions">
                    <span>Terms&Conditions</span>
                </a>
            </div>
            <div class="footer__col">
                <a href="#" class="footer__link" data-hover-text="Privacy policy">
                    <span>Privacy policy</span>
                </a>
            </div>
            <div class="footer__col">
                <a href="#" class="footer__link" data-hover-text="Deutsche Version">
                    <span>Deutsche Version</span>
                </a>
            </div>
        </div>
    </div>
</footer>