.technologies {

    &__list {
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 6.4rem;

        @media (max-width: $md2+px) {
            gap: 5.6rem;
        }
        @media (max-width: $md3+px) {
            gap: 4.8rem;
        }

        & > li {
            flex: 0 1 calc(25% - (6.4rem * 3) / 4);

            @media (max-width: $md2+px) {
                flex: 0 1 calc(25% - (5.6rem * 3) / 4);
            }
            @media (max-width: $md3+px) {
                flex: 0 1 calc(50% - 2.4rem);
            }
        }
    }

    &__icon {
        height: 6.4rem;
        margin-bottom: 2.4rem;
        display: flex;
        align-items: center;

        @media (max-width: $md2+px) {
            height: 4.3rem;
            margin-bottom: 1.6rem;
        }


        & img, & svg {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }

    &__title {
        
    }
}
