.insights {

    &__list {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        gap: 6.4rem;
        margin-bottom: 8rem;

        @media (max-width: $md2+px) {
            gap: 4.8rem;
            margin-bottom: 5.6rem;
        }
    }

    &__bottom {
    }
}

.insight-card {

    &__img {
        padding-bottom: 50%;
        margin-bottom: 2.4rem;

        @media (max-width: $md2+px) {
            margin-bottom: 1.6rem;
        }
    }

    &__tags {
        margin-bottom: 1.6rem;

        @media (max-width: $md2+px) {
            margin-bottom: 1.2rem;
        }
    }


    &__title {
        margin-bottom: 1.6rem;

        @media (max-width: $md2+px) {
            margin-bottom: 1.2rem;
        }

        & a {
            --border-width: 0.2rem;
            background: linear-gradient(to bottom, transparent 0%,transparent calc(100% - var(--border-width)), currentColor var(--border-width));
            transition: all .2s ease;

            @media (min-width: 992px) {
                &:hover {
                    background: linear-gradient(to bottom, transparent 0%,transparent calc(100% - var(--border-width)), currentColor var(--border-width));
                }
            }
        }
    }

    &__text {
        margin-bottom: 1.6rem;

        @media (max-width: $md2+px) {
            margin-bottom: 1.2rem;
        }
    }

    &__date {
        opacity: 0.5;
    }
}
