<div class="popup" id="dont-leave">
    <div class="popup__body">
        <div class="popup__content container-second">
            <div class="popup__close" data-popup="close-popup"><span></span></div>
            <div class="popup-box">
                <div class="mb-lg-48">
                    <div class="lg-text-section">
                        <div class="lg-text-section__label">
                            From <a href="#">Clutch</a>
                        </div>
                        <div
                            class="lg-text-section__text text-content text-2">
                            <p>
                                <strong>Don’t leave without getting a Free consultation with out specialist.</strong> Get a leg up on the market by scheduling your free consultation on digital growing.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mb-lg-32">
                    <a href="#" class="btn-second w-100">
                        Book a call
                    </a>
                </div>
                <div class="text-center">
                    <div class="popup-box__close-link text-4 font-weight-600 text-color-primary" data-popup="close-popup">
                        No, thanks, I’ll pass on this free opportunity
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>