<section class="advantages">
    <div class="advantages__bg ibg">
        <img src="img/photo/advantages-bg.jpg" alt="">
    </div>
    <div class="advantages__body container-second">
        <div class="advantages__text">
            <div class="lg-text-section">
                <div class="lg-text-section__text text-content text-2">
                    <p>
                        <strong>We at IT Vision know how to achieve successful results!</strong> Our team has developed
                        over 100 MVP projects from 0. In our solution we provide:
                    </p>
                </div>
            </div>
        </div>
        <div class="advantages__steps">
            <div class="advantages__steps-item text-4 font-weight-600">
                <div class="advantages__steps-num">1</div>
                <div class="advantages__steps-text">
                    A small dedicated development team for your business
                </div>
            </div>
            <div class="advantages__steps-item text-4 font-weight-600">
                <div class="advantages__steps-num">2</div>
                <div class="advantages__steps-text">
                    Advanced technical <br>
                    tools
                </div>
            </div>
            <div class="advantages__steps-item text-4 font-weight-600">
                <div class="advantages__steps-num">3</div>
                <div class="advantages__steps-text">
                    Out-of-the-box solution <br> kits to accelerate timelines and optimize costs
                </div>
            </div>
        </div>
    </div>
</section>