<section class="reviews">
    <div class="container-second">
        <h3 class="reviews__title title-3 title-mb-default">Reviews</h3>
    </div>
    <div class="reviews__slider" data-slider="reviews">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="container-second">
                        <div class="review-card">
                            <div class="review-card__text">
                                <div class="lg-text-section">
                                    <div class="lg-text-section__label">
                                        From <a href="#">Clutch</a>
                                    </div>
                                    <div
                                        class="lg-text-section__text lg-text-section__text--indent text-content text-2">
                                        <p>
                                            <strong>It-Vision delivered a website that's user-friendly across all
                                                devices. Thanks to their work, the client now enjoys increased
                                                leads.</strong> They were patient and accommodating in the face of
                                            changing demands. Distinguished by their attention to detail, the team was a
                                            pleasure to work with all around.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="review-card__aughtor">
                                <div class="review-card__aughtor-letter title-3">A</div>
                                <div class="review-card__aughtor-name title-3"><strong>Alina Illarionova</strong> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="container-second">
                        <div class="review-card">
                            <div class="review-card__text">
                                <div class="lg-text-section">
                                    <div class="lg-text-section__label">
                                        From Clutch
                                    </div>
                                    <div
                                        class="lg-text-section__text lg-text-section__text--indent text-content text-2">
                                        <p>
                                            <strong>It-Vision delivered a website that's user-friendly across all
                                                devices. Thanks to their work, the client now enjoys increased
                                                leads.</strong> They were patient and accommodating in the face of
                                            changing demands. Distinguished by their attention to detail, the team was a
                                            pleasure to work with all around.
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit,
                                            consequatur!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="review-card__aughtor">
                                <div class="review-card__aughtor-letter title-3">A</div>
                                <div class="review-card__aughtor-name title-3"><strong>Alina Illarionova</strong> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="container-second">
                        <div class="review-card">
                            <div class="review-card__text">
                                <div class="lg-text-section">
                                    <div class="lg-text-section__label">
                                        From Clutch
                                    </div>
                                    <div
                                        class="lg-text-section__text lg-text-section__text--indent text-content text-2">
                                        <p>
                                            <strong>It-Vision delivered a website that's user-friendly across all
                                                devices. Thanks to their work, the client now enjoys increased
                                                leads.</strong> They were patient and accommodating in the face of
                                            changing demands. Distinguished by their attention to detail, the team was a
                                            pleasure to work with all around.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="review-card__aughtor">
                                <div class="review-card__aughtor-letter title-3">A</div>
                                <div class="review-card__aughtor-name title-3"><strong>Alina Illarionova</strong> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="reviews__bottom">
            <button class="reviews__btn-next">
                Lorem, ipsum.
                <svg width="200" height="9" viewBox="0 0 200 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M199.353 4.979C199.549 4.78398 199.549 4.4674 199.354 4.27189L196.176 1.08592C195.981 0.890408 195.664 0.890011 195.469 1.08503C195.273 1.28004 195.273 1.59663 195.468 1.79213L198.293 4.62411L195.461 7.44898C195.265 7.644 195.265 7.96058 195.46 8.15609C195.655 8.3516 195.972 8.35199 196.167 8.15698L199.353 4.979ZM-0.00062814 4.875L198.999 5.125L199.001 4.125L0.00062814 3.875L-0.00062814 4.875Z"
                        fill="currentColor" />
                </svg>

            </button>
        </div>
    </div>
</section>