<section class="reviews">
    <div class="container-second">
        <h3 class="reviews__title title-3 title-mb-default">Reviews</h3>
    </div>
    <div class="reviews__slider" data-slider="reviews">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="container-second">
                        <div class="review-card">
                            <div class="review-card__text">
                                <div class="lg-text-section">
                                    <div class="lg-text-section__label">
                                        From <a href="#">Clutch</a>
                                    </div>
                                    <div class="lg-text-section__text lg-text-section__text--indent text-content text-2">
                                        <p>
                                            <strong>It-Vision delivered a website that's user-friendly across all devices. Thanks to their work, the client now enjoys increased leads.</strong> They were patient and accommodating in the face of changing demands. Distinguished by their attention to detail, the team was a pleasure to work with all around.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="review-card__aughtor">
                                <div class="review-card__aughtor-letter title-3">A</div>
                                <div class="review-card__aughtor-name title-3">Alina Illarionova</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="container-second">
                        <div class="review-card">
                            <div class="review-card__text">
                                <div class="lg-text-section">
                                    <div class="lg-text-section__label">
                                        From Clutch
                                    </div>
                                    <div class="lg-text-section__text lg-text-section__text--indent text-content text-2">
                                        <p>
                                            <strong>It-Vision delivered a website that's user-friendly across all devices. Thanks to their work, the client now enjoys increased leads.</strong> They were patient and accommodating in the face of changing demands. Distinguished by their attention to detail, the team was a pleasure to work with all around.
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, consequatur!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="review-card__aughtor">
                                <div class="review-card__aughtor-letter title-3">A</div>
                                <div class="review-card__aughtor-name title-3">Alina Illarionova</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="container-second">
                        <div class="review-card">
                            <div class="review-card__text">
                                <div class="lg-text-section">
                                    <div class="lg-text-section__label">
                                        From Clutch
                                    </div>
                                    <div class="lg-text-section__text lg-text-section__text--indent text-content text-2">
                                        <p>
                                            <strong>It-Vision delivered a website that's user-friendly across all devices. Thanks to their work, the client now enjoys increased leads.</strong> They were patient and accommodating in the face of changing demands. Distinguished by their attention to detail, the team was a pleasure to work with all around.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="review-card__aughtor">
                                <div class="review-card__aughtor-letter title-3">A</div>
                                <div class="review-card__aughtor-name title-3">Alina Illarionova</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="reviews__bottom">
            <button class="reviews__btn-next">
                Next
                <svg class="first" width="69" height="15" viewBox="0 0 69 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M68.7071 8.20711C69.0976 7.81659 69.0976 7.18342 68.7071 6.7929L62.3431 0.428938C61.9526 0.0384132 61.3195 0.0384132 60.9289 0.428938C60.5384 0.819462 60.5384 1.45263 60.9289 1.84315L66.5858 7.50001L60.9289 13.1569C60.5384 13.5474 60.5384 14.1805 60.9289 14.5711C61.3195 14.9616 61.9526 14.9616 62.3431 14.5711L68.7071 8.20711ZM-8.74228e-08 8.5L68 8.50001L68 6.50001L8.74228e-08 6.5L-8.74228e-08 8.5Z"
                        fill="currentColor" />
                </svg>
                <svg class="second" width="69" height="15" viewBox="0 0 69 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M68.7071 8.20711C69.0976 7.81659 69.0976 7.18342 68.7071 6.7929L62.3431 0.428938C61.9526 0.0384132 61.3195 0.0384132 60.9289 0.428938C60.5384 0.819462 60.5384 1.45263 60.9289 1.84315L66.5858 7.50001L60.9289 13.1569C60.5384 13.5474 60.5384 14.1805 60.9289 14.5711C61.3195 14.9616 61.9526 14.9616 62.3431 14.5711L68.7071 8.20711ZM-8.74228e-08 8.5L68 8.50001L68 6.50001L8.74228e-08 6.5L-8.74228e-08 8.5Z"
                        fill="currentColor" />
                </svg>
            </button>
        </div>
    </div>
</section>