<section class="products">
    <div class="products__bg ibg">
        <picture>
            <source srcset="img/photo/products-bg.jpg"  media="(min-width: 992px)" >
            <source srcset="img/photo/products-bg-tablet.jpg"  media="(min-width: 768px)" >
            <img src="img/photo/products-bg-mob.jpg" alt="img">
        </picture>
    </div>
    <div class="products__list">
        <a href="#" class="products__item">
            <div class="products__item-body">
                <div class="products__item-text text-4">
                    Official Company Website. For small & medium businesses. Unique design with the best UX, CX experience.
                </div>
                <h2 class="products__item-title title-2" data-hover-text="MVP Development">
                    <span>MVP Development</span>
                </h2>
            </div>
        </a>
        <a href="#" class="products__item">
            <div class="products__item-body">
                <div class="products__item-text text-4">
                    Official Company Website. For small & medium businesses. Unique design with the best UX, CX experience.
                </div>
                <h2 class="products__item-title title-2" data-hover-text="Wow site development">
                    <span>Wow site development</span>
                </h2>
            </div>
        </a>
        <a href="#" class="products__item">
            <div class="products__item-body">
                <div class="products__item-text text-4">
                    Official Company Website. For small & medium businesses. Unique design with the best UX, CX experience.
                </div>
                <h2 class="products__item-title title-2" data-hover-text="Corporate Website">
                    <span>Corporate Website</span>
                </h2>
            </div>
        </a>
        <a href="#" class="products__item">
            <div class="products__item-body">
                <div class="products__item-text text-4">
                    Official Company Website. For small & medium businesses. Unique design with the best UX, CX experience.
                </div>
                <h2 class="products__item-title title-2" data-hover-text="E-Commerce Shop">
                    <span>E-Commerce Shop</span>
                </h2>
            </div>
        </a>
        <a href="#" class="products__item">
            <div class="products__item-body">
                <div class="products__item-text text-4">
                    Official Company Website. For small & medium businesses. Unique design with the best UX, CX experience.
                </div>
                <h2 class="products__item-title title-2" data-hover-text="Mobile App">
                    <span>Mobile App</span>
                </h2>
            </div>
        </a>
        <a href="#" class="products__item">
            <div class="products__item-body">
                <div class="products__item-text text-4">
                    Official Company Website. For small & medium businesses. Unique design with the best UX, CX experience.
                </div>
                <h2 class="products__item-title title-2" data-hover-text="UX/UI Design">
                    <span>UX/UI Design</span>
                </h2>
            </div>
        </a>
        <a href="#" class="products__item">
            <div class="products__item-body">
                <div class="products__item-text text-4">
                    Official Company Website. For small & medium businesses. Unique design with the best UX, CX experience.
                </div>
                <h2 class="products__item-title title-2" data-hover-text="Prototype">
                    <span>Prototype</span>
                </h2>
            </div>
        </a>
        <a href="#" class="products__item">
            <div class="products__item-body">
                <div class="products__item-text text-4">
                    Official Company Website. For small & medium businesses. Unique design with the best UX, CX experience.
                </div>
                <h2 class="products__item-title title-2" data-hover-text="CRM System">
                    <span>CRM System</span>
                </h2>
            </div>
        </a>
        <a href="#" class="products__item">
            <div class="products__item-body">
                <div class="products__item-text text-4">
                    Official Company Website. For small & medium businesses. Unique design with the best UX, CX experience.
                </div>
                <h2 class="products__item-title title-2" data-hover-text="Corporate Design">
                    <span>Corporate Design</span>
                </h2>
            </div>
        </a>
    </div>
</section>