<section class="stats" data-stats>
    <div class="stats__body">
        <div class="stats__list">
            <div class="stats__item">
                <div class="stats__num text-1"><span>12</span>+</div>
                <div class="stats__title text-4">Designers and developers</div>
            </div>
            <div class="stats__item">
                <div class="stats__num text-1"><span>5</span>+</div>
                <div class="stats__title text-4">Years in business</div>
            </div>
        </div>
    </div>
</section>
