<header class="header @@mod" data-header>
    <div class="header__body container">
        <div class="header__logo">
            <a href="#" >
                <svg width="40" height="17" viewBox="0 0 40 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M19.5127 11.1658L19.6674 6.90988L16.0692 9.19263L15.1406 7.56762L18.9323 5.5944L15.1406 3.62118L16.0692 1.99617L19.6674 4.27892L19.5127 0.0229492H21.3698L21.2151 4.27892L24.8133 1.99617L25.7419 3.62118L21.9502 5.5944L25.7419 7.56762L24.8133 9.19263L21.2151 6.90988L21.3698 11.1658H19.5127Z"
                        />
                    <path
                        d="M0 10.4483V9.21019L11.8393 2.68115V4.57699L2.12798 9.81957L2.22471 9.64546V10.013L2.12798 9.83892L11.8393 15.0815V16.9773L0 10.4483Z"
                        />
                    <path
                        d="M40 10.4483L28.1607 16.9773V15.0815L37.872 9.83892L37.785 10.013V9.64546L37.872 9.81957L28.1607 4.57699V2.68115L40 9.21019V10.4483Z"
                        />
                </svg>
                IT Vision
            </a>
        </div>
        <div class="header__center container-second">
            <div class="header__nav swiper" data-header-nav data-mobile="false">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <a href="#test" class="header__nav-link">Work</a>
                    </li>
                    <li class="swiper-slide menu-item-has-children">
                        <a href="#" class="header__nav-link">Products</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#" class="sub-menu__link">MVP development</a>
                            </li>
                            <li>
                                <a href="#" class="sub-menu__link">Wow-site</a>
                            </li>
                            <li>
                                <a href="#" class="sub-menu__link">Corporate Website</a>
                            </li>
                            <li>
                                <a href="#" class="sub-menu__link">Ecommerce</a>
                            </li>
                            <li>
                                <a href="#" class="sub-menu__link">UX/UI Design</a>
                            </li>
                            <li>
                                <a href="#" class="sub-menu__link">Corporate Design</a>
                            </li>
                            <li>
                                <a href="#" class="sub-menu__link">Mobile App</a>
                            </li>
                            <li>
                                <a href="#" class="sub-menu__link">Prototype</a>
                            </li>
                            <li>
                                <a href="#" class="sub-menu__link">CRM-system</a>
                            </li>
                        </ul>
                    </li>
                    <li class="swiper-slide menu-item-has-children">
                        <a href="#" class="header__nav-link">Services</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#" class="sub-menu__link">Software Development</a>
                            </li>
                            <li>
                                <a href="#" class="sub-menu__link">Discovery</a>
                            </li>
                            <li>
                                <a href="#" class="sub-menu__link">UX/UI design</a>
                            </li>
                            <li>
                                <a href="#" class="sub-menu__link">UX/UI Audit</a>
                            </li>
                        </ul>
                    </li>
                    <li class="swiper-slide">
                        <a href="#" class="header__nav-link">Methods</a>
                    </li>
                    <li class="swiper-slide">
                        <a href="#" class="header__nav-link">About</a>
                    </li>
                    <li class="swiper-slide">
                        <a href="#" class="header__nav-link ">Contacts</a>
                    </li>
                </ul>
            </div>

            <div class="header__language" data-da=".header__body,767.98,1">
                <div class="header__language-current">DE</div>
                <ul class="header__language-drop-list">
                    <li>
                        <a href="#">EU</a>
                    </li>
                </ul>
            </div>
        </div>
        <a href="#" class="header__button">
            Start a project
        </a>
    </div>
</header>