<header class="header @@mod" data-header>
    <div class="header__body container">
        <div class="header__logo">
            <a href="#">
                <svg width="40" height="17" viewBox="0 0 40 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M19.5127 11.1658L19.6674 6.90988L16.0692 9.19263L15.1406 7.56762L18.9323 5.5944L15.1406 3.62118L16.0692 1.99617L19.6674 4.27892L19.5127 0.0229492H21.3698L21.2151 4.27892L24.8133 1.99617L25.7419 3.62118L21.9502 5.5944L25.7419 7.56762L24.8133 9.19263L21.2151 6.90988L21.3698 11.1658H19.5127Z"
                        />
                    <path
                        d="M0 10.4483V9.21019L11.8393 2.68115V4.57699L2.12798 9.81957L2.22471 9.64546V10.013L2.12798 9.83892L11.8393 15.0815V16.9773L0 10.4483Z"
                        />
                    <path
                        d="M40 10.4483L28.1607 16.9773V15.0815L37.872 9.83892L37.785 10.013V9.64546L37.872 9.81957L28.1607 4.57699V2.68115L40 9.21019V10.4483Z"
                        />
                </svg>
                IT Vision
            </a>
        </div>
        <div class="header__center container-second">
            <div class="header__nav swiper" data-header-nav data-mobile="false">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#test" class="header__nav-link active">Work</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="header__nav-link">Products</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="header__nav-link">Services</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="header__nav-link">Methods</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="header__nav-link">About</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="header__nav-link ">Contacts</a>
                    </div>
                </div>
            </div>

            <div class="header__language" data-da=".header__body,767.98,1">
                <div class="header__language-current">DE</div>
                <ul class="header__language-drop-list">
                    <li>
                        <a href="#">EU</a>
                    </li>
                    <li>
                        <a href="#">FR</a>
                    </li>
                </ul>
            </div>
        </div>
        <a href="#" class="header__button">
            Start a project
        </a>
    </div>
</header>