<section class="instagram-section">
    <div class="container-second">
        <div class="instagram-section__body">
            <a href="#" class="instagram-section__link" data-hover-text="Instagram">
                <span>Instagram</span>
            </a>
            <div class="instagram-section__slider" data-slider="instagram-slider">
                <div class="instagram-section__slider-inner">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide ibg">
                                <img src="img/photo/instagram-img-1.jpg" alt="">
                            </div>
                            <div class="swiper-slide ibg">
                                <img src="img/photo/instagram-img-1.jpg" alt="">
                            </div>
                            <div class="swiper-slide ibg">
                                <img src="img/photo/instagram-img-1.jpg" alt="">
                            </div>
                            <div class="swiper-slide ibg">
                                <img src="img/photo/instagram-img-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>